@page
@model ProyectoClaseApp.Frontend.Pages.PruebaEstiloModel
@{
}

<head>
    <link rel="stylesheet" href="~/css/MiEstilo.css">
    <title>Mi primer estilo </title>

</head>

<body>
    <font size="6" color="#df7644" face="Tahoma">
        Ejemplo de Estilo
    </font>
    <br>
    <nav class="menu">
        <ul>

            <li> <a href=""> Inicio </a></li>
            <li> <a href=""> Menu1 </a></li>
            <li> <a href=""> Menu2</a></li>
            <li> <a href=""> Menu3 </a></li>

        </ul>

    </nav>
</body>